<div class="shellFooter">
    <div>
        © 2011 McKinsey & Company
    </div>
    <div class="shellFooterPipe">
        |
    </div>
    <div>
        <a>@Html.ActionLink("Change Password","ChangePassword","Account")</a>
    </div>
    <div class="shellFooterPipe">
        |
    </div>
    <div>
    <div>
        @Html.ActionLink("Logout", "LogOff", "Account")
    </div>
    <div class="shellClear">
    </div>
</div>
